<div class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="header-logo">
          <a href="#!">
            <img src="/assets/img/logo.png" width="150" height="75">
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="header-description">
          あなたのブログ、WordPress、Webサイトに簡単にグラフを！
          <br> ExcelやWebAPIからデータを取得して表示できます。
        </div>
      </div>
      <div class="col-md-4">
        <div class="header-login">
          ログイン不要でもご利用頂けますが、
          <br> 登録頂くと複数のグラフなどの登録などが可能です。<br>
          <button>登録／ログイン</button>
        </div>
      </div>
    </div>
  </div>
