<div class="top-area">
  <div>
      あなたのサイトにグラフで彩りを
      <Br> 3 Stepからお試し頂けます。
      <br>
    <button>サンプルを見てみる</button>
  </div>
</div>

<div class="container">



　<h2>3Step から試しましょう</h2>
  <h3>①まずはグラフを選びましょう</h3>
  <p>詳細設定では、さらに数十以上のグラフを選択できます。</p>
  <app-chart-list (selectChangedEvent)="onChartSelected($event)"></app-chart-list>

  <h3>②簡単な設定をしましょう</h3>
<igx-input-group>
  <input igxInput type="text" [(ngModel)]="chartSetting.title"   />
  <label igxLabel >グラフ タイトル</label>
</igx-input-group>

<igx-input-group>
  <input igxInput type="text" [(ngModel)]="chartSetting.yLabel"/>
  <label igxLabel >縦軸のラベル名</label>
</igx-input-group>

<igx-input-group>
  <input igxInput  type="text" [(ngModel)]="chartSetting.xLabel" />
  <label igxLabel >横軸のラベル名</label>
</igx-input-group>

  <h3>③あなたのサイトに表示しましょう</h3>
  <p>下記のURLをあなたのサイトの表示したい場所に記載しましょう。</p>
  <div>
     <textarea  rows="4" cols="100">
{{scriptText}}
  </textarea>
  </div>

  <h3>表示ができたらカスタマイズを！</h3>
  <p>あなたのサイトにグラフの表示は出来ましたか？ さっそくデータの設定などをカスタマイズしていきましょう！ わからない点があれば、こちらからお気軽にお問い合わせください。
  </p>

    <button igxButton="raised" igxRipple="white" routerLink="/setting">より詳細な設定を！</button>

</div>
